{% extends "./base/base.njk" %} {% block content %}
<div class="col-lg-2 col-md-2 col-sm-2 menus_container">
  <ul id="menus">
    {% for item in menu%}
    <li class="bounceIn animated wow" data-menuanchor="{{item.target}}" data-wow-delay="{{item.delay}}s" data-wow-duration="1s">
      <a href="#{{ item.target }}" class="text-center menu">
        <span
          class="icon-round glyphicon glyphicon-{{ item.icon }}"
          aria-hidden="true"
        ></span>

        <h3>{{ item.name }}</h3>
      </a>
    </li> 
    {% endfor %}
  </ul>
</div>
<div id="fullpage">
  <div class="section container first_section">
    <div class="icon animated bounceIn wow" data-wow-delay="0.2s"></div>
    <h3 class="name animated bounceIn wow" data-wow-delay="0.4s">{{ name }}</h4>
    <h4 class="job animated bounceIn wow" data-wow-delay="0.6s">{{ job }}</h5>
    <h5 class="motto animated bounceIn wow" data-wow-delay="0.8s">{{ motto }}</h5>
    <h5 class="email animated bounceIn wow" data-wow-delay="1s">
      <a href="mailto:{{ email }}" class="link">{{ email }}</a>
    </h5>
    <div class="links">
      {% for item in links %}
      <a href="{{ item.link }}" class="btn btn-default linkTo animated wow zoomInLeft" data-wow-delay="{{item.delay}}s" data-wow-duration="1s" >
        <span class="iconfont {{ item.iconClass }}"></span> {{ item.title }}
      </a>
      {% endfor %}
    </div>
  </div>

  <div class="section container" id="second_section">
    <div class="about_us text-center">
      <h1 class="title">{{info.title}}</h1>
      <div class="color-strip"></div>

      <div class=" basic_info center-block">
        <ul class="row">
          <li class="col-xs-6 col-sm-3">
            <span class="iconfont icon-shengri"></span>
              <p class="text-left">生日</p>
              <p class="text-right">{{info.birthday}}</p>
            </li>
          <li class="info col-xs-6 col-sm-3">
            <span class="iconfont icon-xuewei"></span>
            <p class="text-left">学历</p>
            <p class="text-right">{{info.education}}</p>
          </li>
          <li class="info col-xs-6 col-sm-3">
            <span class="iconfont icon-jingyan"></span>
            <p class="text-left">经验</p>
            <p class="text-right">{{info.experience}}</p>
          </li>
          <li class="info col-xs-6 col-sm-3">
            <span class="iconfont icon-yonghu"></span>
            <p class="text-left">状态</p>
            <p class="text-right">{{info.status}}</p>
          </li>
          <!-- <li class="info col-xs-6 col-sm-3">
            <span class="glyphicon glyphicon-map-marker"></span>
            <p>地点</p>
            <p>{{info.position}}</p>
          </li> -->
        </ul>       
        <div class="detail center-block">
          {% for item in info.detail %}
            <p class="">{{item}}</p>
          {% endfor %}
        </div> 
       
      </div>

      
    </div>
  </div>
  <div class="section container" id="thirdSection">
    <h1 class="title text-center">{{skills.title}}</h1>
    <div class="color-strip"></div>
    <div class="skills-container">
      {% for item in skills.detail %}
      <div class="box">
          <div class="box-wrapper">
            <span class="name">{{item.title}}</span>
            <div class="desc">{{item.desc}}</div>					
          </div>
        <div class="box-overlay magictime" data-hover="openUpLeft" data-return="openUpLeftRetourn">
          <svg class="icon svg-icon" aria-hidden="true">
            <use xlink:href="{{item.icon}}"></use>
          </svg>
        </div>
        <a class="link" href="#" target="_blank"></a>						
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="section">
    <h1 class="title text-center">{{experience.title}}</h1>
    <div class="color-strip"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="main-timeline">
            {% for item in experience.details %}
              <div class="timeline">
                <div class="timeline-icon">
                  <span class="year">{{item.date}}</span>
                </div>
                <p class="desc_tip animated fadeIn">{{item.respo}}</p>
                <div class="timeline-content">
                  <h3 class="title">{{item.company}}</h3>
                  <p class="description">
                    {{item.respo}}
                  </p>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <h1 class="title text-center">{{projects.title}}</h1>
    <div class="color-strip" style="margin-bottom: 30px"></div>
    <div class="projects center-block">
      {% for item in projects.details %}
        <div class="project{{item.index}} project">
          <img class="img" src="img/project_imgs/{{item.index}}.jpg" alt="">
          <div class="desc_container">
            <div class="mask"></div>
            <h3 class="title">{{item.name}}</h3>
            <p class="date">{{item.date}}</p>
            <p class="desc">{{item.desc}}</p>
          </div>
        </div>
        
      {% endfor %}
      <div class="project7 project"><img src="img/project_imgs/1.jpg" alt="" class="img"></div>
      <div class="project8 project"><img src="img/project_imgs/2.jpg" alt="" class="img"></div>
      <div class="project9 project"><img src="img/project_imgs/3.jpg" alt="" class="img"></div>
    </div>
  </div>
</div>
{% endblock %}
