@import 'nib'
global-reset()

.menu 
  display block
  text-decoration: none
  &:hover
    text-decoration: none
  .icon-round
    display inline-block
    width 60px
    height 60px
    line-height 60px
    border 2px solid #fff
    color #fff
    &:hover
      background-color #ff0f65

.menu > h3
  padding: 10px 20px
  color: #ff6500
  font-weight: 800
  text-decoration: none
  margin 50px
  background #000