@import 'nib'
global-reset()

//颜色变量
$index_color = #ff0f65
// $index_color = #96858f
$white = #ffffff
$black = #000000

//全局样式
a.link
  color: $index_color

.left
  padding-top 40px
  text-align center
  div.icon
    width 200px
    height 200px
    border-radius 50%
    margin 0 auto
    border 3px solid $index_color
    background-color #fff
  .name
    font-size 30px
    font-weight bold
    color $index_color
    margin 40px 0 30px
  .job
    font-weight normal 
    color #ffffff
    font-size 30px 
    font-weight 400
  .motto
    font-size 12px
    color #cccccc
    padding 10px 0 10px 0
  .email
    font-size 14px
    font-weight bold
  .links
    padding-top 100px
    .linkTo
      color: $index_color
      border-color $index_color
      background-color #ffffff00
      margin-bottom 10px
      margin-right 20px
      min-width 92px
      &:last-child
        margin-right 0
.left 
  .icon
    background url(/img/index/icon1.jpg)
    background-repeat no-repeat
    &:hover
      background url(/img/index/icon2.jpeg)

.menus 
  position fixed
  right 20px 
  z-index 999
  top 0
  bottom 0
  display flex
  align-items center
  justify-content flex-end
  .menu 
    display block
    text-decoration: none
  .active .icon-round
    background-color $index_color
  &:hover,&:after,&:link,&:active,&:focus
    text-decoration: none
  .icon-round.active
    background-color $index_color
  .icon-round
    display inline-block
    width 40px
    height 40px
    line-height 40px
    border-radius 50%
    border 2px solid #fff
    color #fff
    &:hover
      background-color $index_color

.menu > h3
  padding 5px 0 15px 0px
  color #ffffff
  font-weight: 800
  text-decoration: none
  font-size 20px

