@import 'nib'
global-reset()

//颜色变量
$index_color = #ff0f65
$second_color = #9b3090
$white = #ffffff
$black = #000000

//全局样式
a.link
  color  $index_color
.color-strip {
    margin  20px auto 30px auto 
    max-width  250px 
    height  2px 
    border-top  0 
    background  #c4e17f 
    border-radius  5px 
    background-image  linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4)
}
.section h1
  font-size 36px
  color $index_color

.first_section
  padding-top 40px
  text-align center
  div.icon
    width 200px
    height 200px
    border-radius 50%
    margin 0 auto
    border 3px solid $index_color
    background-color #fff
  .name
    font-size 30px
    font-weight bold
    color $index_color
    margin 40px 0 30px
  .job
    font-weight normal 
    color #ffffff
    font-size 30px 
    font-weight 400
  .motto
    font-size 12px
    color #cccccc
    padding 10px 0 10px 0
  .email
    font-size 14px
    font-weight bold
  .links
    padding-top 100px
    .linkTo
      color  $index_color
      border-color $index_color
      background-color #ffffff00
      margin-bottom 10px
      margin-right 20px
      min-width 92px
      &:last-child
        margin-right 0
.first_section 
  .icon
    background url(/img/index/icon1.jpg)
    background-repeat no-repeat
    background-size cover
    &:hover
      background url(/img/index/icon2.jpeg)
      background-size cover
      background-position center center
      background-repeat no-repeat

.menus_container
  position fixed
  right 20px 
  z-index 999
  top 0
  bottom 0
  display flex
  align-items center
  justify-content flex-end
  .menu 
    display block
    text-decoration  none
  .active .icon-round
    background-color $index_color
  &:hover,&:after,&:link,&:active,&:focus
    text-decoration  none
  .icon-round.active
    background-color $index_color
  .icon-round
    display inline-block
    width 40px
    height 40px
    line-height 40px
    border-radius 50%
    border 2px solid #fff
    color #fff
    &:hover
      background-color $index_color

.menu > h3
  padding 5px 0 15px 0px
  color #ffffff
  font-weight  800
  text-decoration  none
  font-size 20px


#second_section
  .color-strip 
    margin-bottom 150px
  .basic_info
    max-width 800px
  
  ul
    border-radius 10px
    background-color #f0fac1dd
    padding 20px 0
    li
      color  $second_color
      display inline-block
      margin-top 10px
      span.iconfont
        font-size 80px
      p
        height  30px
        line-height  30px
        padding  0
        width  70%
        margin  0 auto
        position relative
        &:last-child:before
          content  ""
          background-color  $second_color
          height  2px
          display  block
          top  0
          left  0
          transform  rotate(-20deg)
  
  .detail
    color $second_color
    position relative
    margin-top 100px
    width 100%
    max-width 700px
    margin-bottom 150px
    p
      height 26px
  .detail:before,.detail:after
    content ""
    display block
    width 65px
    height 65px
    border-color $second_color
    border-style solid
    position absolute
  .detail:before
    border-width 2px 0 0 2px
  .detail:after
    border-width 0 2px 2px 0
    right 0
    bottom 0
    

#thirdSection
  .color-strip 
    margin-bottom 100px
.skills-container
  width 960px
  display flex
  flex-wrap wrap
  justify-content center
  margin 0 auto
.box
  width 260px
  height 180px
  margin 10px
  padding 30px
  background: #9fa8a3
  display: flex
  margin-bottom: 10px
  justify-content: center
  position  relative
  border-radius 10px
  .box-wrapper
    display block
    padding 10px
    color $white
    width 100%
    height 100%
    font-size 24px
    text-align center
    margin-bottom 10px
    border 2px solid #ffffff
    box-sizing border-box
    
    span.name
      display:block 
      text-align:center 
      font-family:georgia 
      font-style:italic 
      font-size:22px 
      font-weight:normal 
      margin-top:10px 
    .desc
      margin-top:10px 
      font-size:12px 
      color:#ddd 
      margin-bottom 10px
  .box-overlay
    width 100%
    height 100%
    position absolute
    background-color #e9ece5
    display flex
    justify-content center
    align-items center
    top 0
    left 0
    z-index 10
    border-radius 10px
    span.name
      font-family georgia
      font-weight bold
    .svg-icon
      width 70%
      height 70%
      text-align center
      vertical-align center
      // background-color #c5d5cb
  a.link
    display block
    width 100%
    height 100%
    position absolute
    top 0 
    left 0
    z-index 15