<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{title}}</title>
        <link rel="icon" href="img/index/icon1.jpg" type="image/x-icon" />
        <link rel="shortcut icon" href="img/index/icon1.jpg" type="image/x-icon" />   
        <link rel="stylesheet" type="text/css" href="fullpage/dist/fullpage.css"/>
        <link rel="stylesheet" type="text/css" href="animate.css"/>
        <link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="magic.min.css"/>
        <link type="text/css" rel="stylesheet" href="style/common.css"/>
        <link type="text/css" rel="stylesheet" href="style/timeline.css"/>
        <link type="text/css" rel="stylesheet" href="style/stylesheets/{{css}}.css"/>
    </head>
    <body>
        {% block content %}{% endblock %}
        <canvas id="canvas"></canvas>
        <script type="text/javascript" src="fullpage/vendors/scrolloverflow.min.js"></script>
        <script type="text/javascript" src="fullpage/dist/fullpage.js"></script>
        <script src="canvas-nest/canvas-nest.min.js"></script>
        <script src="jquery-3.3.1.min.js"></script>
        <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
        <script src="iconfont.js"></script>
        <script src="js/{{js}}.js"></script>
    </body>
</html>