@font-face {
  font-family: "Glyphicons Halflings";
  src: url("/fonts/glyphicons-halflings-regular.eot");
  src: url("/fonts/glyphicons-halflings-regular.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/glyphicons-halflings-regular.woff") format("woff"),
    url("/fonts/glyphicons-halflings-regular.ttf") format("truetype"),
    url("/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular")
      format("svg");
}

@font-face {
  font-family: "iconfont";
  src: url("/fonts/iconfont.eot");
  src: url("/fonts/iconfont.eot?#iefix") format("embedded-opentype"),
    url("/fonts/iconfont.woff2") format("woff2"),
    url("/fonts/iconfont.woff") format("woff"),
    url("/fonts/iconfont.ttf") format("truetype"),
    url("/fonts/iconfont.svg#iconfont") format("svg");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.icon-12sina:before {
  content: "\e64e";
}

.icon-blog:before {
  content: "\e63a";
}

.icon-zhihu:before {
  content: "\e6ba";
}

.icon-shengri:before {
  content: "\e613";
}

.icon-github1:before {
  content: "\e601";
}

.icon-nodejs-copy:before {
  content: "\e602";
}

.icon-xueli2:before {
  content: "\e640";
}

.icon-weizhi:before {
  content: "\e6f8";
}

.icon-jingyan:before {
  content: "\e615";
}

.icon-shengri1:before {
  content: "\e605";
}

.icon-Bootstrap:before {
  content: "\e9e5";
}

.icon-JavaScript:before {
  content: "\e704";
}

.icon-CSS:before {
  content: "\e705";
}

.icon-HTML:before {
  content: "\e706";
}

.icon-jingyan1:before {
  content: "\e690";
}

.icon-yonghu:before {
  content: "\e720";
}

.icon-webpack:before {
  content: "\e799";
}

.icon-Vue:before {
  content: "\e79a";
}

.icon-React:before {
  content: "\e79b";
}

.icon-jQuery:before {
  content: "\e79c";
}
